In [1]:
import pandas as pd 
meteo_data = pd.read_csv("/kaggle/input/data-set/Q_01_previous-1950-2022_RR-T-Vent.csv/Q_01_previous-1950-2022_RR-T-Vent.csv",sep=';')
meteo_data.tail(1000)

,NUM_POSTE,NOM_USUEL,LAT,LON,ALTI,AAAAMMJJ,RR,QRR,TN,QTN,...,DXI2,QDXI2,HXI2,QHXI2,FXI3S,QFXI3S,DXI3S,QDXI3S,HXI3S,QHXI3S
954883,1457001,VONNAS,46.218333,4.99,190,19890706,0.5,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
954884,1457001,VONNAS,46.218333,4.99,190,19890707,11.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
954885,1457001,VONNAS,46.218333,4.99,190,19890708,0.2,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
954886,1457001,VONNAS,46.218333,4.99,190,19890709,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
954887,1457001,VONNAS,46.218333,4.99,190,19890710,21.1,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
955878,1457001,VONNAS,46.218333,4.99,190,19920327,0.9,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
955879,1457001,VONNAS,46.218333,4.99,190,19920328,0.7,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
955880,1457001,VONNAS,46.218333,4.99,190,19920329,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
955881,1457001,VONNAS,46.218333,4.99,190,19920330,18.6,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
955882,1457001,VONNAS,46.218333,4.99,190,19920331,5.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
years_to_keep = [str(year) for year in range(2000, 2023)]
filtered_meteo_data = meteo_data[meteo_data['AAAAMMJJ'].astype(str).str[:4].isin(years_to_keep)]

filtered_meteo_data

,NUM_POSTE,NOM_USUEL,LAT,LON,ALTI,AAAAMMJJ,RR,QRR,TN,QTN,...,DXI2,QDXI2,HXI2,QHXI2,FXI3S,QFXI3S,DXI3S,QDXI3S,HXI3S,QHXI3S
17131,1014002,ARBENT,46.278167,5.669000,534,20040317,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17132,1014002,ARBENT,46.278167,5.669000,534,20040318,0.0,1.0,0.8,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17133,1014002,ARBENT,46.278167,5.669000,534,20040319,7.0,1.0,2.8,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17134,1014002,ARBENT,46.278167,5.669000,534,20040320,2.2,1.0,8.5,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17135,1014002,ARBENT,46.278167,5.669000,534,20040321,7.8,1.0,6.4,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
940508,1453001,VIRIEU-LE-PETIT,45.906833,5.718167,603,20180327,14.0,1.0,-0.7,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940509,1453001,VIRIEU-LE-PETIT,45.906833,5.718167,603,20180328,10.0,1.0,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940510,1453001,VIRIEU-LE-PETIT,45.906833,5.718167,603,20180329,0.0,1.0,5.4,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940511,1453001,VIRIEU-LE-PETIT,45.906833,5.718167,603,20180330,25.0,1.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940512,1453001,VIRIEU-LE-PETIT,45.906833,5.718167,603,20180331,12.0,1.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
import pandas as pd 
meteo_data_dep02 = pd.read_csv("/kaggle/input/data-set/Q_02_previous-1950-2022_RR-T-Vent.csv/Q_02_previous-1950-2022_RR-T-Vent.csv",sep=';')
meteo_data_dep02.tail(1000)

,NUM_POSTE,NOM_USUEL,LAT,LON,ALTI,AAAAMMJJ,RR,QRR,TN,QTN,...,DXI2,QDXI2,HXI2,QHXI2,FXI3S,QFXI3S,DXI3S,QDXI3S,HXI3S,QHXI3S
1225361,2822001,VIVIERES,49.303333,3.103333,140,19850406,9.3,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1225362,2822001,VIVIERES,49.303333,3.103333,140,19850407,13.2,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1225363,2822001,VIVIERES,49.303333,3.103333,140,19850408,2.2,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1225364,2822001,VIVIERES,49.303333,3.103333,140,19850409,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1225365,2822001,VIVIERES,49.303333,3.103333,140,19850410,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1226356,2822001,VIVIERES,49.303333,3.103333,140,19871227,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1226357,2822001,VIVIERES,49.303333,3.103333,140,19871228,0.5,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1226358,2822001,VIVIERES,49.303333,3.103333,140,19871229,0.7,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1226359,2822001,VIVIERES,49.303333,3.103333,140,19871230,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1226360,2822001,VIVIERES,49.303333,3.103333,140,19871231,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
years_to_keep = [str(year) for year in range(2000, 2023)]
filtered_meteo_data_dep02 = meteo_data_dep02[meteo_data_dep02['AAAAMMJJ'].astype(str).str[:4].isin(years_to_keep)]

filtered_meteo_data_dep02

,NUM_POSTE,NOM_USUEL,LAT,LON,ALTI,AAAAMMJJ,RR,QRR,TN,QTN,...,DXI2,QDXI2,HXI2,QHXI2,FXI3S,QFXI3S,DXI3S,QDXI3S,HXI3S,QHXI3S
11058,2022001,ARCY-STE-RESTIT,49.263333,3.505000,104,20000101,1.9,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11059,2022001,ARCY-STE-RESTIT,49.263333,3.505000,104,20000102,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11060,2022001,ARCY-STE-RESTIT,49.263333,3.505000,104,20000103,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11061,2022001,ARCY-STE-RESTIT,49.263333,3.505000,104,20000104,6.8,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11062,2022001,ARCY-STE-RESTIT,49.263333,3.505000,104,20000105,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1220025,2814001,VILLERS-LES-G,49.921500,3.673833,154,20140626,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1220026,2814001,VILLERS-LES-G,49.921500,3.673833,154,20140627,1.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1220027,2814001,VILLERS-LES-G,49.921500,3.673833,154,20140628,5.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1220028,2814001,VILLERS-LES-G,49.921500,3.673833,154,20140629,3.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1220029,2814001,VILLERS-LES-G,49.921500,3.673833,154,20140630,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
meteo_data02 = filtered_meteo_data_dep02.dropna(axis=1, how='all')
meteo_data02 = meteo_data02.dropna(axis=0, how='all')
nan_percentage = meteo_data02.isna().mean() * 100

# supprimer les colonnes avec plus de 50% de NaN
columns_to_drop = nan_percentage[nan_percentage > 60].index
meteo_data02 = meteo_data02.drop(columns=columns_to_drop)
meteo_data02

,NUM_POSTE,NOM_USUEL,LAT,LON,ALTI,AAAAMMJJ,RR,QRR,TN,QTN,TX,QTX,TNTXM,QTNTXM,TAMPLI,QTAMPLI
11058,2022001,ARCY-STE-RESTIT,49.263333,3.505000,104,20000101,1.9,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11059,2022001,ARCY-STE-RESTIT,49.263333,3.505000,104,20000102,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11060,2022001,ARCY-STE-RESTIT,49.263333,3.505000,104,20000103,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11061,2022001,ARCY-STE-RESTIT,49.263333,3.505000,104,20000104,6.8,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11062,2022001,ARCY-STE-RESTIT,49.263333,3.505000,104,20000105,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1220025,2814001,VILLERS-LES-G,49.921500,3.673833,154,20140626,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1220026,2814001,VILLERS-LES-G,49.921500,3.673833,154,20140627,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1220027,2814001,VILLERS-LES-G,49.921500,3.673833,154,20140628,5.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1220028,2814001,VILLERS-LES-G,49.921500,3.673833,154,20140629,3.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1220029,2814001,VILLERS-LES-G,49.921500,3.673833,154,20140630,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
cols_to_drop = ['QRR', 'TN','QTN','TX','QTX','QTNTXM','QTAMPLI']
meteo_data021 =meteo_data02.drop(cols_to_drop, axis=1) 
meteo_data021 =meteo_data021.dropna(axis=0) 
meteo_data021

,NUM_POSTE,NOM_USUEL,LAT,LON,ALTI,AAAAMMJJ,RR,TNTXM,TAMPLI
24139,2031001,AUBENTON,49.834000,4.200500,177,20000101,1.1,4.0,4.0
24140,2031001,AUBENTON,49.834000,4.200500,177,20000102,0.3,5.5,3.0
24141,2031001,AUBENTON,49.834000,4.200500,177,20000103,3.5,5.0,2.0
24142,2031001,AUBENTON,49.834000,4.200500,177,20000104,11.1,5.0,4.0
24143,2031001,AUBENTON,49.834000,4.200500,177,20000105,0.3,4.0,6.0
...,...,...,...,...,...,...,...,...,...
1170906,2758001,VAILLY-SUR-AISN,49.412167,3.519333,65,20081126,0.0,3.5,3.0
1170907,2758001,VAILLY-SUR-AISN,49.412167,3.519333,65,20081127,0.4,3.8,3.5
1170908,2758001,VAILLY-SUR-AISN,49.412167,3.519333,65,20081128,0.0,1.5,3.6
1170909,2758001,VAILLY-SUR-AISN,49.412167,3.519333,65,20081129,2.2,1.5,7.0
1170910,2758001,VAILLY-SUR-AISN,49.412167,3.519333,65,20081130,3.0,3.5,7.0

In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [8]:
#LinearRegression avec temperature 

features = meteo_data021[['NUM_POSTE','LAT', 'LON', 'ALTI', 'AAAAMMJJ', 'TNTXM', 'TAMPLI']]
target = meteo_data021['RR']

# Division des données en ensembles d'entraînement et de test
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

# Création du modèle de régression (par exemple, régression linéaire)
model = LinearRegression()

# Entraînement du modèle
model.fit(X_train, y_train)

# Prédiction sur les données de test
y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
print(f"MSE (Mean Squared Error) : {mse}")

MSE (Mean Squared Error) : 17.88661458208246

In [9]:

# Créer un DataFrame de démonstration avec de nouvelles données pour la prédiction
new_data = {'NUM_POSTE':[2031001,2031001],
            'LAT': [49.834000, 49.5],
            'LON': [4.200500, 4.2],
            'ALTI': [177, 170],
            'AAAAMMJJ': [20000101, 20220402],
            'TNTXM': [4.0, 5.0],
            'TAMPLI': [4.0, 4.0]}
new_df = pd.DataFrame(new_data)
# Faire des prédictions sur les nouvelles données
predictions = model.predict(new_df)

# Afficher les prédictions
print("Prédictions de pluie (RR) :")
for i, pred in enumerate(predictions):
    print(f"Date AAAAMMJJ: {new_data['AAAAMMJJ'][i]}, Prédiction RR: {pred}")

Prédictions de pluie (RR) :
Date AAAAMMJJ: 20000101, Prédiction RR: 3.0379585140091976
Date AAAAMMJJ: 20220402, Prédiction RR: 2.553774666356965

In [10]:
cols_to_drop = ['QRR', 'TN','QTN','TX','QTX','QTNTXM','QTAMPLI', 'TNTXM', 'TAMPLI']
meteo_data022 =meteo_data02.drop(cols_to_drop, axis=1) 
meteo_data022 =meteo_data022.dropna(axis=0) 
meteo_data022

         NUM_POSTE        NOM_USUEL        LAT       LON  ALTI  AAAAMMJJ   RR
11058      2022001  ARCY-STE-RESTIT  49.263333  3.505000   104  20000101  1.9
11059      2022001  ARCY-STE-RESTIT  49.263333  3.505000   104  20000102  0.0
11060      2022001  ARCY-STE-RESTIT  49.263333  3.505000   104  20000103  0.0
11061      2022001  ARCY-STE-RESTIT  49.263333  3.505000   104  20000104  6.8
11062      2022001  ARCY-STE-RESTIT  49.263333  3.505000   104  20000105  0.0
...            ...              ...        ...       ...   ...       ...  ...
1220025    2814001    VILLERS-LES-G  49.921500  3.673833   154  20140626  0.0
1220026    2814001    VILLERS-LES-G  49.921500  3.673833   154  20140627  1.0
1220027    2814001    VILLERS-LES-G  49.921500  3.673833   154  20140628  5.0
1220028    2814001    VILLERS-LES-G  49.921500  3.673833   154  20140629  3.0
1220029    2814001    VILLERS-LES-G  49.921500  3.673833   154  20140630  0.0

[306605 rows x 7 columns]

In [11]:
#LinearRegression sans temperature 

features = meteo_data022[['NUM_POSTE','LAT', 'LON', 'ALTI', 'AAAAMMJJ']]
target = meteo_data022['RR']

# Division des données en ensembles d'entraînement et de test
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

# Création du modèle de régression (par exemple, régression linéaire)
model = LinearRegression()

# Entraînement du modèle
model.fit(X_train, y_train)

# Prédiction sur les données de test
y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
print(f"MSE (Mean Squared Error) : {mse}")

MSE (Mean Squared Error) : 20.04754995898075

In [12]:

# Créer un DataFrame de démonstration avec de nouvelles données pour la prédiction
new_data = {'NUM_POSTE':[2031001,2031001],
            'LAT': [49.834000, 49.5],
            'LON': [4.200500, 4.2],
            'ALTI': [177, 170],
            'AAAAMMJJ': [20000101, 20220402]}
new_df = pd.DataFrame(new_data)
# Faire des prédictions sur les nouvelles données
predictions = model.predict(new_df)

# Afficher les prédictions
print("Prédictions de pluie (RR) :")
for i, pred in enumerate(predictions):
    print(f"Date AAAAMMJJ: {new_data['AAAAMMJJ'][i]}, Prédiction RR: {pred}")

Prédictions de pluie (RR) :
Date AAAAMMJJ: 20000101, Prédiction RR: 2.691591095223643
Date AAAAMMJJ: 20220402, Prédiction RR: 2.0533139164296372

In [13]:
#RandomForestRegressor avec temperature 
import joblib
from sklearn.ensemble import RandomForestRegressor

features = meteo_data021[['NUM_POSTE','LAT', 'LON', 'ALTI', 'AAAAMMJJ', 'TNTXM', 'TAMPLI']]
target = meteo_data021['RR']

# Division des données en ensembles d'entraînement et de test
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

# Création du modèle de régression (par exemple, régression linéaire)
modelRFR = RandomForestRegressor(random_state=42)

# Entraînement du modèle
modelRFR.fit(X_train, y_train)

joblib.dump(modelRFR, '/kaggle/working/RandomForestRegressor_temp.pkl')

# Prédiction sur les données de test
y_pred = modelRFR.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
print(f"MSE (Mean Squared Error) : {mse}")

MSE (Mean Squared Error) : 12.26200900178841

In [14]:

# Créer un DataFrame de démonstration avec de nouvelles données pour la prédiction
new_data = {'NUM_POSTE':[2031001,2031001],
            'LAT': [49.834000, 49.5],
            'LON': [4.200500, 4.2],
            'ALTI': [177, 170],
            'AAAAMMJJ': [20000101, 20220402],
            'TNTXM': [4.0, 5.0],
            'TAMPLI': [4.0, 4.0]}
new_df = pd.DataFrame(new_data)
# Faire des prédictions sur les nouvelles données
predictions = modelRFR.predict(new_df)

# Afficher les prédictions
print("Prédictions de pluie (RR) :")
for i, pred in enumerate(predictions):
    print(f"Date AAAAMMJJ: {new_data['AAAAMMJJ'][i]}, Prédiction RR: {pred}")

Prédictions de pluie (RR) :
Date AAAAMMJJ: 20000101, Prédiction RR: 3.8190000000000004
Date AAAAMMJJ: 20220402, Prédiction RR: 10.09633333333334

In [15]:
#RandomForestRegressor sans temperature 
import joblib
from sklearn.ensemble import RandomForestRegressor

features = meteo_data022[['NUM_POSTE','LAT', 'LON', 'ALTI', 'AAAAMMJJ']]
target = meteo_data022['RR']

# Division des données en ensembles d'entraînement et de test
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

# Création du modèle de régression (par exemple, régression linéaire)
modelRFR = RandomForestRegressor(random_state=42)

# Entraînement du modèle
modelRFR.fit(X_train, y_train)

joblib.dump(modelRFR, '/kaggle/working/RandomForestRegressor.pkl')

# Prédiction sur les données de test
y_pred = modelRFR.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
print(f"MSE (Mean Squared Error) : {mse}")

MSE (Mean Squared Error) : 16.732692054800605

In [16]:

# Créer un DataFrame de démonstration avec de nouvelles données pour la prédiction
new_data = {'NUM_POSTE':[2031001,2031001],
            'LAT': [49.834000, 49.5],
            'LON': [4.200500, 4.2],
            'ALTI': [177, 170],
            'AAAAMMJJ': [20000101, 20220402]}
new_df = pd.DataFrame(new_data)
# Faire des prédictions sur les nouvelles données
predictions = modelRFR.predict(new_df)

# Afficher les prédictions
print("Valeur exacte de pluie (RR) :")
print("NUM_POSTE: 2031001, LAT: 49.834000, LON: 4.200500, AAAAMMJJ: 20000101, ALTI: 177, RR: 1.1")
print("Prédictions de pluie (RR) :")
for i, pred in enumerate(predictions):
    print(f"Date AAAAMMJJ: {new_data['AAAAMMJJ'][i]}, Prédiction RR: {pred}")

Valeur exacte de pluie (RR) :
NUM_POSTE: 2031001, LAT: 49.834000, LON: 4.200500, AAAAMMJJ: 20000101, ALTI: 177, RR: 1.1
Prédictions de pluie (RR) :
Date AAAAMMJJ: 20000101, Prédiction RR: 1.5656666666666643
Date AAAAMMJJ: 20220402, Prédiction RR: 0.2781666666666666